.my-navbar-container {
    padding: 0px;
}
.my-top-navbar{
	background-color: #21610B;
}
a.navbar-brand img {
	display: inline-block;
}
.top-navbar-brand-name{
	color: white;
	font-size: 19px;
}
@media (min-width: 768px){
	.top-navbar-brand-name{
		display: none;
	}
}
@media (max-width: 767px){
	.top-navbar-brand-name{
		display: inline-block;
	}
}
.navbar-toggler{
	border: 1px solid;
	color: white;
	border-radius: 6px;
}
.my-top-navbar .nav-item a{
	font-size: 1.0em;
	color: #D8D8D8;
}
.my-top-navbar .nav-item a:hover{
	color: white;
}
.my-top-navbar .nav-item a.nav-link-active{
	color: white;
	font-weight: bold;
}
.my-top-navbar .dropdown-menu{
	background-color: #2A7815;
}
.my-top-navbar .dropdown-menu a{
	color: white;
}
.my-top-navbar .dropdown-menu a.disable{
	color: #EAEAEA;
}
.my-top-navbar .dropdown-menu a:hover{
	color: #2A7815;
	background-color: white;
}
.my-top-navbar .dropdown-menu a:active{
	background-color: #21610B;
	color: white;
}
.my-top-navbar .dropdown-menu .disable:hover{
	background-color: #2A7815;
	color: #EAEAEA;
}





.user-profile-wrapper{
	background-color: #E0F8E0;
	padding: 0px 20px;
	overflow: hidden;
}
.display-none{
	display: none;
}
.padding-0{
	padding: 0px;
}
#hiddenProfileBar{
	margin: 0px;
	padding: 0px;
}
#userProfileBoxName{
	margin: 5px 0px 8px 0px;
	padding: 0px 10px;
}
#showButtonTable {
    display: table;
}
#showButtonCell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.user-profile-box{
	display: flex;
    margin-left: auto;
    margin-right: auto;
	padding: 20px 30px;
	margin-top: 30px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.user-profile-img{
	display: block;
	max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
	border-radius: 170px;
}
.hline {
	width: 100%;
	height: 1px;
	margin: 10px 0px;
	background-color: rgba(0, 0, 0, 0.2);
}
.user-profile-info-box p{
	margin-bottom: 3px;
}
@media (min-width: 576px){
	.user-profile-box{
		max-width: 750px;
	}
	.user-profile-img-box{
		display: inline-block;
		margin-right: 50px;
	}
	.user-profile-info-box{
		display: inline-block;
	}
}
@media (max-width: 575px){	
	.user-profile-box{
		display: block;
	}
	.user-profile-img-box{
		display: block;
		margin: 0px;
		margin-bottom: 15px;
	}
	.user-profile-info-box{
		display: block;
	}
	.user-profile-info {
		text-align: left;
	}
}
#hideUserProfileBut, #showUserProfileBut {
	background-color: rgba(23, 162, 184, 0.1);
	border-color: rgba(23, 162, 184, 0.1);
}
#hideUserProfileBut:hover, #showUserProfileBut:hover {
	background-color: rgba(23, 162, 184, 0.4);
	border-color: rgba(23, 162, 184, 0.1);
}
#hideUserProfileBut {
	margin: 7px 0px 6px;
	float: right;
}